<?xml version="1.0"?>
<plugin>
	<extension id="de.tudresden.inf.lat.gel.LcsView" point="org.protege.editor.core.application.ViewComponent">
		<label value="Least Common Subsumer"/>
		<class value="de.tudresden.inf.lat.gel.LcsView"/>
		<category value="@org.protege.ontologycategory"/>
		<headerColor value="@org.protege.ontologycolor"/>
	</extension>
	<extension id="de.tudresden.inf.lat.gel.MscView" point="org.protege.editor.core.application.ViewComponent">
		<label value="Most specific concept"/>
		<class value="de.tudresden.inf.lat.gel.MscView"/>
		<category value="@org.protege.ontologycategory"/>
		<headerColor value="@org.protege.ontologycolor"/>
	</extension>
</plugin>
